body {
  background-color: #f6f6f6;
}

.comm-left {
  background-color: #fff;
  padding: 0.3rem;
}
.comm-box {
  background-color: #fff;
  padding: 0.3rem;
}
.comm-main {
  margin-top: 0.5rem;
}
.title-anchor {
  margin: 0.1rem !important;
}
